
<configuration>
    <system.webServer>
       <handlers>
          <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
       </handlers>
          <rewrite>
             <rules>
                <rule name="myapp">
                   <match url="/*" />
                      <action type="Rewrite" url="app.js" />
                </rule>
                <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
                   <match url="^app.js\/debug[\/]?" />
                </rule>
              </rules>
       </rewrite>
       <defaultDocument enabled="true">
          <files>
             <add value="app.js" />
          </files>
       </defaultDocument>
    </system.webServer>
</configuration>
