#one-list{
  display: none;
}

.result{

}

.title{
  color: black;
  font-weight: bold;
}

.one-employee{
  background-color: white;
  width: 440px;
  height: 180px;
  overflow: hidden;
  display: inline-block;
  margin: 5px;
  position: relative;
}

#one-titles{
  width: 30%;
  text-align: right;
  display: inline-block;
  padding: 10px 0;
  height: 180px;
  font-size: 16px;
}

#one-results{
  width:70%;
  text-align: left;
  display: inline-block;
  padding: 10px 0;
  height: 180px;
  font-size: 16px;
  white-space: nowrap;
}

.one-edit{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #edbe00;
  padding: 5px;
  color: white;
  font-weight: bold;
}
