#search-popup{
  position: absolute;
  z-index: 1000;
  background-color: #f1f3f4;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 700px;
  min-height: 400px;
  top: 10px;
  border: 10px solid white;
  margin-top: 50px;
  display: none;
}

#search-info{
  overflow-y: scroll;
  height: 65vh;
}

#test{
  height: 50px; width: 100%;
}

#search-button:hover{
  cursor: pointer;
}

#search-close{
  width: 30px;
  height: 30px;
  top: 5px;
  right: 5px;
  position: absolute;
  background-image: url(./assets/close.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 1001;
}

#search-close:hover{
  cursor: pointer;
}
